@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap');

:root {
  /* contact background */
  --clr-primary--500: hsl(238, 22%, 44%);
  /* footer background */
  --clr-primary--900: hsl(243, 87%, 12%);
  /* link */
  --clr-accent--300: hsl(170, 45%, 43%);
  /* buttons */
  --clr-accent--500: hsl(224, 93%, 58%);
  /* error */
  --clr-accent--900: hsl(0, 79%, 62%);
  --clr-neutral--100: hsl(240, 75%, 98%);
  --clr-neutral--300: hsl(0, 0%, 75%);
  --fs: 0.9375rem;
  --ff-primary: 'Open Sans', sans-serif;
  /* Headings, Call-to-actions, Header Navigation */
  --ff-accent: 'Raleway', sans-serif;
  --br: 0.25em;
}


/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--clr-primary--900);
}


img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* Body */

body {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: var(--ff-primary);
  color: var(--clr-primary--900);
}

.header__container {
  width: 100%;
}

.navbar {
  max-width: 120rem;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em 0 4em;
}

.navbar__logo {
  width: 10vw;
}

.navbar__links {
  display: flex;
}

.navbar__link a {
  font-size: 1.2rem;
}

.navbar__link:not(:first-child) {
  margin-left: 4.5rem;
}

.navbar__link a:hover {
  color: var(--clr-primary--500);
}

/* Main */

.main {
  width: 100%;
}

/* ----- Hero Section ----- */

.hero {
  background-color: white;
  background-image: url('../images/bg-curve-desktop.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 5em 17em 5em;
}

.hero__content {
  width: 50%;
  max-width: 39rem;
  text-align: left;
}

.hero__content--title,
.incentive__content--title {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 0.6em;
  font-family: var(--ff-accent);
  font-weight: 700;
}

.hero__content--description,
.incentive__content--description,
.testimonial__description {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 1em;
  font-weight: 400;
  color: var(--clr-primary--900);
}

/* Hero Form */

.form {
  display: flex;
  position: relative;
  margin-top: 1.5em;
}

.email {
  outline: none;
  border: 1px solid var(--clr-primary--900);
  border-radius: var(--br);
  padding: 1em;
}

.form.error .email {
  border: 1px solid var(--clr-accent--900)
}

.email:focus {
  outline: none;
}

.email::placeholder {
  color: var(--clr-neutral--300);
}

.email:not(:placeholder-shown) {
  color: var(--clr-primary--900);
  font-weight: 700;
}

.hero__email {
  width: 20rem;
  margin-right: 1.2em;
}

.btn {
  padding: 1em 4.5em;
  background-color: var(--clr-accent--500);
  border: 1px solid var(--clr-accent--500);
  color: white;
  font-weight: 700;
  border-radius: var(--br);
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #7c9df7;
  border: 1px solid #7c9df7;
}

/* Error messages */
.error__message {
  color: var(--clr-accent--900);
  position: absolute;
  top: 3.3em;
  font-size: 0.9rem;
  display: none;
}

.form.error .error__message {
  display: block;
}

/* Error messages */

.success__message {
  color: var(--clr-accent--500);
  position: absolute;
  top: 3.3em;
  font-size: 0.9rem;
  display: none;
}

.form.success .success__message {
  display: block;
}

/* Hero Image */
.hero__image {
  width: 50%;
}

/* ----- Incentive ----- */

.incentive {
  background-color: var(--clr-neutral--100);
}

.incentive__container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 5em 5em 5em;
}

.incentive__content {
  width: 50%;
  text-align: left;
}


/* Incentive Image */
.incentive__image {
  width: 50%;
}

.incentive__link {
  display: flex;
  height: 4rem;
  align-items: center;
  color: var(--clr-accent--300);
  position: relative;
  width: 30%;
  /* background-color: violet; */
}

.incentive__link a {
  color: var(--clr-accent--300);
  font-weight: 600;
}

.incentive__link:hover a {
  color: #36c4b8;
}

.arrow__icon {
  display: block;
  position: absolute;
  left: 10rem;
  top: 1.4rem;
  width: 1.3rem;
  height: 1.3rem;
}

.incentive__link::before {
  content: '';
  border-bottom: solid 1px var(--clr-accent--300);
  border-radius: var(--br);
  position: absolute;
  left: -1px;
  right: 18px;
  top: 75%;
}

.incentive__link:hover::before {
  color: #36c4b8;
  border-bottom: solid 1px #36c4b8;
}

/* Testimonial Card */
.incentive__testimonial {
  max-width: 28rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.9em 2.2em;
  margin-top: 1.7em;
  border-radius: var(--br);
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.14);
}

.quotes {
  width: 1.2rem;
  margin-bottom: 0.5em;
}

.testimonial__author {
  display: flex;
  align-items: center;
}

.testimonial__author--image {
  width: 3rem;
  height: 3rem;
  margin-right: 1em;
}

.testimonial__author--image img {
  border-radius: 50%;
}

.testimonial__author--data {
  display: flex;
  flex-direction: column;
}

.testimonial__author--name {
  font-size: 1rem;
  font-weight: 700;
}

.testimonial__author--position {
  font-size: 0.8rem;
}

/* ----- Contact ----- */
.contact {
  background-color: var(--clr-primary--500);
}

.contact__container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 5em 5em 5em;
}

.contact__content {
  width: 40%;
  text-align: left;
  color: white;
}

.contact__content--title {
  font-size: 1.8rem;
  padding-bottom: 1em;
  font-weight: 700;
  font-family: var(--ff-accent);
}

.contact__content--description {
  font-size: 1rem;
  line-height: 1.7rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
}

.contact__email {
  width: 100%;
  margin-bottom: 2em;
}

.contact__btn {
  padding: 1em 2.2em;
}